<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>New Article</title>
        <!-- <link rel="stylesheet" href="css/style.css"> -->
        <!-- <link rel="author" href="humans.txt"> -->
    </head>
    <body>
        <h1>Article</h1>
        <%= form_for :article, url: articles_path do |f| %>
        	  <% if @article.errors.any? %>
			    <div id="error_explanation">
			      <h2>
			        <%= pluralize(@article.errors.count, "error") %> prohibited
			        this article from being saved:
			      </h2>
			      <ul>
			        <% @article.errors.full_messages.each do |msg| %>
			          <li><%= msg %></li>
			        <% end %>
			      </ul>
			    </div>
			  <% end %>
        	<p>
        		<%= f.label :ttile %><br>
        		<%= f.text_field :title %>
        	</p>
        	<p>
        		<%= f.label :text %><br>
        		<%= f.text_area :text%>
        	</p>
        	<p>
        		<%= f.submit %>
        	</p>
        <% end %>
        <%= link_to 'Back', articles_path %>
        <!-- <script src="js/main.js"></script> -->
    </body>
</html>